* {
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #1b24c4;
  --secondary-color: #6c757d;
  --background-color: aqua;
}

header {
  .header-information {
    background-color: var(--primary-color);
    height: 30px;
  }

  .navbar {
    height: 70px;
    background-color: #1e1e1f42 !important;
  }
  .scrolled {
    background-color: #e3e3e3 !important;
    /* #179ee1 */
  }

  .img-logo {
    width: 120px;
  }
  .page-active {
    color: #4bff70 !important;
  }
  .text-scrolled {
    color: #179ee1 !important;
  }
}
